body{
    background-color: #4c2358;
    font-family: arial,sans-serif;
}
a{
    text-align: right;
    color:rgb(239, 225, 242); 
     text-decoration: none;
}
.hoverc{
    display:inline-block;
    color:rgb(239, 225, 242); 
     margin: 5px;
      background-color: #25042f;
                padding: 10px;
                border-radius: 10px;
}
.hoverc:hover {
background-color:  rgb(210, 100, 211);
transition: background-color 0.3s ease;
            }
.div1{
    font-size: 50px;
    font-weight: bold;
    border:1px solid rgb(61, 2, 61);
    background-color: #340542;
    border-radius: 40px;
    

}
.div1:hover{
    background-color: #740197;
    font-weight: bold;
    
}
.Tagline{
  color:rgb(239, 225, 242); 
    font-size: 70px;
}
.subtagline{
  color:rgb(239, 225, 242); 
    text-align: center;
    margin: 30px;
    font-size: 40px;
}
.about{
    color:rgb(239, 225, 242); 
}
.div2{
    font-size:30px;
}